*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    background: #333;
}
span {
    font-size: large;
    font-weight: bold;
    color: #fff;
}
.container {
    position: fixed;
    top: 230px;
    left: 20%;
}