*{
    padding: 0;
    box-sizing: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}
.sub p{
    padding: 0;
    margin: 0;
}
table, th, td {
    width: 750px;
    border: 1px solid black;
    border-collapse: collapse;
}
.color {
    width: 100%;
    background: rgba(145, 145, 231, 0.745);
    color: rgb(76, 76, 239);
}
h2 {
    font-family: 'Roboto', sans-serif;
}
.color-1 {
    color: rgb(76, 76, 239);
    text-align: left;
}
body {
    position: relative;
}
img {
    position: absolute;
    right: 0;
    height: 35%;
    top: 50px;
}
button {
    width: 70px;
    height: 25px;
    border-radius: 7px;
    cursor: pointer;
}
button:hover {
    background: pink;
    color: green;
}