body {
    /* background: red; */
}
.picture{
    position: relative;
    margin-left: 500px;
    margin-top: 100px;
}
.logo{
    position: absolute;
    width: 50px;
    border-radius: 50%;
    top: 15px;
    left: 185px;
}