
body {
    border-right: 30px solid rgb(219, 8, 219);
    border-left: 30px solid rgb(219, 8, 219);
    border-bottom: 30px solid rgb(219, 8, 219);
}
header {
    width: 1338px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    margin-left: 40px;
    background: rgb(147, 242, 6);
}
.title{
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    gap: 20px;
}
aside {
    width: 200px;
    height: 210px;
    background: rgba(172, 238, 72, 0.697);
    h2{
        margin-left: 10px;
    }
    ul {
        margin-left: -30px;
    }
    li {
        list-style: none;
    }
    a {
        color: rgb(0, 102, 210);
    }
}
article {
    width: 1115px;
    border: 2px solid rgba(141, 249, 141, 0.319);
    h2, p {
        padding: 0px 0px 0px 8px;
    }
    p{
        margin-top: -10px;
    }
}
footer{
    width: 1340px;
    height: 40px;
    line-height: 40px;
    margin-left: 40px;
    background: rgb(147, 242, 6);
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

